* {
    font-family: sans-serif;
    color: #545454;
  }
  
  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  header {
    flex: 0 50px;
    font-size: 18px;
    background: #01A491;
    color: white;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    color: #FFFFFF;
    margin-right: 10px;
  }

  header h1 {
    color: #FFFFFF;
    font-size: 20px;
    font-style: italic;
    margin-left: 10px;
    margin-top: 20px;
  }
  
  main {
    flex: 1;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    overflow-x: hidden; /* Prevent sideways scrolling */
    margin-left: 1em;
    margin-right: 10px;
    background-color: #FFFFFF;
  }

  main h1 {
    font-size: 40px;
  }

  main h2 {
    font-size: 30px;
  }
  
  p {
    font-size: 30px;
  }

  .income-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  input {
    background-color: #FFFFFF;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
    text-align: left;
    
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    color: #FFFFFF;
    background-color: #01A491;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 230px;
    text-align: center;
  
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .italics {
    font-style: italic;
  }
  
  footer {
    flex: 0 50px;
    background: #545454;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  footer .author {
    color: #FFFFFF;
    margin-left: 10px;
  }
  
  footer .github-link {
    color: #01A491;
    margin-right: 10px;
  }